.table th {
  border-style: hidden;
  background-color: white;
  color: white;
  vertical-align: middle;
  margin-bottom: 0px;   
}

.table tr:first-child td {
  border: 0;
  
}


.borderless th {
   border: none !important;
   background-color: #ffcc00;
   color: white;
}

.card-body{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}
